[Desktop Entry]
Categories=Graphics;GTK;DDE;
Comment=Deepin Album
Exec=deepin-album %F
GenericName=Album
Icon=deepin-album
Keywords=Image;Viewer;Jpg;Jpeg;Png;
Name=Deepin Album
StartupNotify=false
Type=Application
X-Deepin-ManualID=deepin-album
X-Deepin-Vendor=deepin

MimeType=image/bmp;image/bmp24;image/ico;image/jpg;image/jpe;image/jpeg;image/jpeg24;image/jng;image/pcd;image/pcx;image/png;image/tga;image/tif;image/tiff;image/tiff24;image/psd;image/xpm;image/dds;image/gif;image/sgi;image/j2k;image/jp2;image/pct;image/webp;image/wdp;image/cr2;image/pef;image/arw;image/nef;image/icb;image/dng;image/vda;image/vst;image/raf;image/orf;image/svg;image/ptif;image/mef;image/mrw;image/xbm;image/svg+xml;

# Translations:
# Do not manually modify!

Comment[zh_CN]=深度相册
GenericName[zh_CN]=相册
Keywords[zh_CN]=Image;Viewer;Jpg;Jpeg;Png;
Name[zh_CN]=深度相册

